@media(max-width:768px){
    .banner{
        height:auto;
    }
    #newLogo{
        width: 25%;
    }
    .btn{
        margin-top: 5px;
        margin-bottom: 20px;
    }
    #img1{
        margin-top: 0px;
    }
    .myDiv{
        border: none;
    }
    .myItem{
        width: 50%;
        margin: 0px auto;
    }
}

@media(min-width:769px)and(max-width:992px){
    .sec1{
        margin: 0px;
        font-size: 5px;
        padding: 0px;
    }
    #img1{
        margin: 0px;
        
    }
}